@font-face {
    font-family: "CustomFont";
    src: url("../assets/fonts/Lexend-Regular.ttf");
    font-family: "lexend-light";
    src: url("../assets/fonts/Lexend-Light.ttf");
}

<<<<<<< HEAD
.eventedit-body {
=======
.eventdetail-edit-body {
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
    position: relative;
}

.eventdetail-edit-form input {
    background: #EDEDED;
    border: none;
    width: 200px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    border-radius: 20px; /* Adjust as needed */
    padding-left: 10px;
}

<<<<<<< HEAD
=======
.eventdetail-edit-form label {
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
}

>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
.eventdetail-edit-title input {
    font-size: 23px; 
    font-family: "lexend-light";
    text-decoration: underline; 
    color: #6E6E6E;
    border: none; 
    outline: none; 
    background: transparent; 
<<<<<<< HEAD
    margin-left: 40px;
    margin-top: 5px;
}

/* close button */ 
.eventdetail-edit-close {
    position: absolute; 
    top: 10px; 
    right: 10px; 
=======
    margin-left: 30px;
    margin-top: 10px;
}

.eventdetail-edit-close {
    position: absolute; /* Change from 'relative' to 'absolute' */
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
    background-color: transparent;
    width: 50px;
    height: 10px;
    border: none;
<<<<<<< HEAD
}

=======
    right: 10px;
    margin-top: 10px;
}


>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
img[alt="edit-close"] {
    max-width: 80%;
}

.eventdetail-edit-content {
    position: relative;
}

<<<<<<< HEAD
/*calendar function*/
=======
/*calendar*/
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
.eventdetail-edit-date h1{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
    margin-left: 70px;
    margin-top: 5px;
=======
    margin-bottom: 5px;
    margin-left: 70px;
    margin-top: 15px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

img[alt="edit-calendar"] {
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: none;
<<<<<<< HEAD
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    margin-left: 30px;
}

.dateInput {
    margin-left: 20px;
    margin-bottom: 5px;
}

.startInput {
    margin-left: 70px;
    margin-bottom: 5px;
}

.endInput {
    margin-left: 70px;
=======
    margin-left: 30px;
}

.calendar {
    margin-left: 15px;
    margin-bottom: 8px;
}

.startDate {
    margin-left: 65px;
    margin-bottom: 8px;
}

.endDate {
    margin-left: 65px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

.eventdetail-edit-date input{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
}

/*location*/
.eventdetail-edit-location h1{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
=======
    margin-bottom: 5px;
    margin-left: 70px;
    margin-top: 15px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

.eventdetail-edit-location input{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
=======
    margin-bottom: 5px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
    margin-left: 15px;
}

img[alt="edit-location"] {
    background-color: transparent;
<<<<<<< HEAD
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 25px;
    margin-left: 30px;
}

/*operating time*/
=======
    width: 20px;
    height: 20px;
    border: none;
    margin-left: 30px;
}

/*time*/
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
.eventdetail-edit-operatingTime h1{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.eventdetail-edit-operatingTime input{
=======
    margin-bottom: 5px;
    margin-left: 70px;
    margin-top: 10px;
}

.startTime {
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
=======
    margin-bottom: 5px;
    margin-left: 15px;
}

.endTime {
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
    margin-bottom: 5px;
    margin-left: 65px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

img[alt="edit-time"] {
    background-color: transparent;
<<<<<<< HEAD
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 15px;
=======
    width: 20px;
    height: 20px;
    border: none;
    margin-left: 30px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

.eventdetail-edit-operatingTime p{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
    margin-left: 70px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.endTime {
=======
    margin-bottom: 5px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
    margin-left: 70px;
}

/*cost*/
.eventdetail-edit-cost h1{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
=======
    margin-bottom: 5px;
    margin-left: 70px;
    margin-top: 10px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

.eventdetail-edit-cost input{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
=======
    margin-bottom: 5px;
    margin-left: 15px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

img[alt="edit-cost"] {
    background-color: transparent;
<<<<<<< HEAD
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 15px;
=======
    width: 18px;
    height: 18px;
    border: none;
    margin-left: 30px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

/*transportation*/
.eventdetail-edit-transportation h1{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
=======
    margin-bottom: 5px;
    margin-left: 70px;
    margin-top: 10px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

.eventdetail-edit-transportation input{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
=======
    margin-bottom: 5px;
    margin-left: 15px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

img[alt="edit-transportation"] {
    background-color: transparent;
<<<<<<< HEAD
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 15px;
=======
    width: 18px;
    height: 18px;
    border: none;
    margin-left: 30px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

/*website*/
.eventdetail-edit-website h1{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
=======
    margin-bottom: 5px;
    margin-left: 70px;
    margin-top: 10px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

.eventdetail-edit-website input{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
=======
    margin-bottom: 5px;
    margin-left: 15px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

img[alt="edit-website"] {
    background-color: transparent;
<<<<<<< HEAD
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 15px;
=======
    width: 18px;
    height: 18px;
    border: none;
    margin-left: 30px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

/*notes*/
.eventdetail-edit-notes h1{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
=======
    margin-bottom: 5px;
    margin-left: 70px;
    margin-top: 10px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

.eventdetail-edit-notes input{
    font-size: 14px; /* Change font-size as needed */
    font-family: "lexend-light";
    letter-spacing: 1px;
    color: #6E6E6E;
<<<<<<< HEAD
=======
    margin-bottom: 5px;
    margin-left: 15px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

img[alt="edit-notes"] {
    background-color: transparent;
<<<<<<< HEAD
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 15px;
=======
    width: 18px;
    height: 18px;
    border: none;
    margin-left: 30px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}

.saveEditBtn {
    width: 270px;
    height: 37px;
    border-color: transparent;
    border-radius: 25px;
    background-color: #FFA800;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    font-family: "CustomFont";
    line-height:35px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    margin-top: 20px;
=======
    margin-top: 15px;
>>>>>>> 10f293df229da43077ef5d67e0dc9127728b3258
}