@font-face {
    font-family: "CustomFont";
    src: url("../assets/fonts/Lexend-Regular.ttf");
    font-family: "lexend-light";
    src: url("../assets/fonts/Lexend-Light.ttf");
}

html, .body {
    height: 100%; /* Ensure the html and body elements take up full height */
    margin: 0;
    padding: 0; /* Remove any potential default padding */
}

.homepage-header-container {
    display: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA800;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

img[alt="menu-logo"] {
width: 40px;
height: auto; 
}

img[alt="setting-logo"] {
width: 40px;
height: auto; 
}

.homepage-header-container h1 {
    font-family: "CustomFont";
    font-size: 30px;
}

.optionMenuModal {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 245px; /* Adjust the width as needed */
    height: 253px; /* Adjust the max-height as needed */
    background-color: white;
    border-radius: 25px;
}

.optionMenuModal-content {
    margin-top: -30%;
    margin-left: -15%;
    margin-right: 40%;
}

.sidebarModal {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    padding: 20px;
    transition: translateX(-100%);;
    transition: transform 0.5s ease-out;
}

  
.overlay-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
