@font-face {
    font-family: "CustomFont";
    src: url("../assets/fonts/Lexend-Regular.ttf");
    font-family: "lexend-light";
    src: url("../assets/fonts/Lexend-Light.ttf");
}

html, .body {
    height: 100%; /* Ensure the html and body elements take up full height */
    margin: 0;
    padding: 0; /* Remove any potential default padding */
}

.sorry_msg_container h3 {
    font-family: "CustomFont";
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    margin-top: 40px;
}

.homepage-addtripBtn {
    display: fixed;
    justify-content: center;
    align-items: center;
    transform: translate(-300px, 300px);
}

.homepage-header-container {
    display: flex;
    flex-direction: row;
}

.sorry_img_container {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white; 
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 20px; 
}


.sorry_img_container img {
    display: block; 
    margin-top: 150px;
}

.overlay-eventDetail {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.eventDetail-popup {
width: 80%;
height: 85%;
background-color: white;
box-sizing: border-box;
border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    
    .rbc-toolbar {
      flex-direction: column;
      margin-top: 20px;
    }
  
    .rbc-toolbar .rbc-toolbar-label {
      margin-bottom: 10px;
    }
  
    .rbc-btn-group {
      margin-bottom: 10px;
      flex-wrap: wrap;
    }
  }
  