* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@font-face {
    font-family: "CustomFont";
    src: url("../assets/fonts/Lexend-Regular.ttf");
    font-family: "lexend-light";
    src: url("../assets/fonts/Lexend-Light.ttf");
}

html, .new-body {
    height: 100%; /* Ensure the html and body elements take up full height */
    margin: 0;
    padding: 0; /* Remove any potential default padding */
}

.new-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* This will push everything apart */
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    margin-top: 80px;
    flex: 1;
}

.newtrip-body-description h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    color:rgba(0,0,0,1);
    font-size:20px;
    font-weight: lighter;
    font-family:"CustomFont";
    margin-left: 50px;
}

.newtrip-body-description p {
    font-size: 11px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "lexend-light";
}

.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.start-btn {
    width: 300px;
    height: 40px;
    border-color: transparent;
    border-radius: 25px;
    background-color: #FFA800;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    font-family: "CustomFont";
}


