@font-face {
    font-family: "CustomFont";
    src: url("../assets/fonts/Lexend-Regular.ttf");
    font-family: "lexend-light";
    src: url("../assets/fonts/Lexend-Light.ttf");
}

html, .body {
    height: 100%; /* Ensure the html and body elements take up full height */
    margin: 0;
    padding: 0; /* Remove any potential default padding */
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* This will push everything apart */
}

.body-detail h2 {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    font-family: "CustomFont";
}

.body-detail p {
    font-size: 11px;
    margin-top: 2px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;  
    font-weight: lighter;
    font-family: "lexend-light";
}

.calendar-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.arrival-return-timings{
    font-family: "lexend-light";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 11px;
    text-align: left;
    color: white;
}

.select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5px;
}

.select-arrival {
    text-align: left;
    font-size: 11px;
    width: 150px;
    height: 25px;
    color: rgba(50,50,50,1);
    border-radius: 25px;
    font-family: "lexend-light" ;
    background-color: white;
}

.select-return {
    text-align: left;
    font-size: 11px;
    width: 150px;
    height: 25px;
    color: rgba(50,50,50,1);
    border-radius: 25px;
    margin-left: 10px;
    font-family: "lexend-light" ;
    background-color: white;
}

.calendar-section {
    margin-top: 5px;
    border-radius: 25px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #FFA800;
    margin-left: 15px;
    margin-right: 15px;
}

.body-budget h2{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    font-family: "CustomFont";
}

.body-budget p{
    font-size: 11px;
    margin-top: 2px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;  
    font-weight: lighter;
    font-family: "lexend-light";
}

.budget {
    justify-content: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(237,237,237,1);
    height: 30px;
    width: 270px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.budget input {
    background-color: transparent;
    border: none;
    width: 200px;
    font-size: 11px;
    font-family: "lexend-light" ;
}




/* calendar's styling  */
.react-datepicker__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-datepicker__day--highlighted {
    background-color: #FFA800;
    justify-content: center;
    display: flex;
    color: white;
}

.custom-calendar {
    border: transparent;
}

.react-datepicker__day--in-range {
    background-color: #FFA800;
    color: white;
}

.react-datepicker__day--selected {
    background-color: #FFA800;
    color: white;
}
