* {
    margin: 0;
    box-sizing: border-box;
    font-family: "CustomFont";
}

@font-face {
    font-family: "CustomFont";
    src: url("../assets/fonts/Lexend-Regular.ttf");
}

@media(min-width:768px) {
    .body {
        min-height: 100vh;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    margin-top: 80px;
}

.body-description h2 {
    margin-top: 80px;
    color:rgba(0,0,0,1);
    font-size:24px;
    font-weight: lighter;
    font-family:"CustomFont";
    margin-left: 50px;
    align-self: start;    
}

.body-description p {
    font-size: 12px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.start-btn {
    width: 302px;
    height: 44px;
    border-color: transparent;
    border-radius: 25px;
    background-color: #FFA800;
    color: #FFFFFF;
    margin-top: 70px;
    font-size: 16px;
    text-align: center;
}


