@font-face {
    font-family: "CustomFont";
    src: url("../assets/fonts/Lexend-Regular.ttf");
    font-family: "lexend-light";
    src: url("../assets/fonts/Lexend-Light.ttf");
}

html, .option-body {
    height: 100%; /* Ensure the html and body elements take up full height */
    margin: 0;
    padding: 0; /* Remove any potential default padding */
}

/* The header container in the menu bar */
.optionMenu-container h3 {
    font-size: 20px; /* Change font-size as needed */
    font-family: "CustomFont";
    transform: translate(50px, 100px);
}

.close-button {
    position: absolute;
    top: 37px;  /* adjust as needed */
    right: 45px;  /* adjust as needed */
}

img[alt="close-icon"] {
    max-width: 80%;
}

.regenerate-container h1 {
    font-size: 14px; /* Change font-size as needed */
    color: rgba(50,50,50);
    letter-spacing: 1px;
    font-family: "lexend-light";
    margin-left: 10px;
}

.regenerate-button {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 80px;
    background-color: transparent;
    border: none;
}

img[alt="regenerate-icon"] {
    max-width: 30%;
    margin-top: 10px;
}

.share-container h1 {
    font-size: 14px; /* Change font-size as needed */
    color: rgba(50,50,50);
    letter-spacing: 1px;
    font-family: "lexend-light";
    margin-left: 10px;
}

.share-button {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 80px;
    background-color: transparent;
    border: none;
}

img[alt="share-icon"] {
    max-width: 30%;
    margin-top: 10px;
}

.delete-container h1 {
    font-size: 14px; /* Change font-size as needed */
    color: rgba(50,50,50);
    letter-spacing: 1px;
    font-family: "lexend-light";
    margin-left: 10px;
}

.trash-button {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 80px;
    background-color: transparent;
    border: none;
}

img[alt="trash-icon"] {
    max-width: 30%;
    margin-top: 10px;
}