@font-face {
    font-family: "lexend-regular";
    src: url("../assets/fonts/Lexend-Regular.ttf");
    font-family: "lexend-light";
    src: url("../assets/fonts/Lexend-Light.ttf");
}

.body-type h2 {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 24px;
    text-align: left;
    font-weight: 100;
}

.trip-reason-selection {
    gap:15px;
    justify-content:center;
    flex-direction:column;
    display:flex;
    box-sizing:border-box;
    width:250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.vacation-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
}

.business-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
}

.event-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
}

.volunteering-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
}

.family-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
}

.pilgrimage-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
}

.education-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
}

.others-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
}

.body-description h3 {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 24px;
    text-align: left;
    font-weight: 100;
}

.body-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Location {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 269px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgba(237,237,237,1);
    font-size: 12px;
    margin-top: 30px;
    font-weight: 100;
}

.location-input {
    background-color: rgba(237,237,237,1);
    font-size: 12px;
    border: none;
}

.location-input::placeholder {
    color: rgba(110,110,110);
}

.letsgo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.letsgo-btn {
    width: 302px;
    height: 44px;
    border-color: transparent;
    border-radius: 25px;
    background-color: #FFA800;
    color: #FFFFFF;
    margin-top: 70px;
    font-size: 16px;
    text-align: center;
}